body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:10px;
}
#u4_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u6 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:356px;
  top:1074px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:10px;
  top:1048px;
  width:640px;
  height:2px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:-650px;
  top:0px;
  width:640px;
  height:2px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:125px;
  top:230px;
  width:390px;
  height:818px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:818px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:817px;
  width:390px;
  height:1684px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:1684px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:-10px;
  top:0px;
  width:400px;
  height:880px;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:880px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:90px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
