body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:138px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u4 {
  position:absolute;
  left:2px;
  top:152px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u6 {
  position:absolute;
  left:2px;
  top:152px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u8 {
  position:absolute;
  left:2px;
  top:152px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u10 {
  position:absolute;
  left:2px;
  top:152px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u12 {
  position:absolute;
  left:2px;
  top:152px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u14 {
  position:absolute;
  left:2px;
  top:152px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:269px;
  top:385px;
  width:121px;
  height:12px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:458px;
  width:640px;
  height:690px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:690px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1550px;
  overflow:hidden;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1550px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1552px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1552px;
}
#u31 {
  position:absolute;
  left:2px;
  top:768px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:240px;
  top:0px;
  width:180px;
  height:1px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:220px;
  top:689px;
  width:160px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:128px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:128px;
}
#u35 {
  position:absolute;
  left:2px;
  top:56px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:30px;
  top:70px;
  width:120px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:360px;
  top:60px;
  width:100px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:520px;
  top:60px;
  width:110px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:510px;
  top:480px;
  width:70px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:65px;
  top:480px;
  width:65px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
