body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:70px;
  width:640px;
  height:1076px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1076px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:-60px;
  width:640px;
  height:2000px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2000px;
}
#u3 {
  position:absolute;
  left:2px;
  top:992px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:-60px;
  width:640px;
  height:2000px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2000px;
}
#u5 {
  position:absolute;
  left:2px;
  top:992px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1013px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1013px;
}
#u7 {
  position:absolute;
  left:2px;
  top:498px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:897px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:897px;
}
#u9 {
  position:absolute;
  left:2px;
  top:440px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:175px;
  top:1076px;
  width:290px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:210px;
  top:0px;
  width:220px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:10px;
  top:10px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:510px;
  top:15px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:590px;
  top:15px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:510px;
  top:80px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:510px;
  top:150px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
