body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:174px;
  width:640px;
  height:910px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:910px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1738px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1738px;
}
#u3 {
  position:absolute;
  left:2px;
  top:861px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:175px;
  top:909px;
  width:290px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:210px;
  top:0px;
  width:220px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:0px;
  top:-154px;
  width:640px;
  height:2000px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2000px;
}
#u7 {
  position:absolute;
  left:2px;
  top:992px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:70px;
  width:640px;
  height:105px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:105px;
}
#u11 {
  position:absolute;
  left:2px;
  top:44px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:1084px;
  width:640px;
  height:98px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:98px;
}
#u13 {
  position:absolute;
  left:2px;
  top:41px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:600px;
  top:220px;
  width:50px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:250px;
  top:135px;
  width:170px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:320px;
  top:152px;
  visibility:hidden;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
}
#u18 {
  position:absolute;
  left:2px;
  top:192px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:530px;
  top:135px;
  width:90px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:470px;
  top:130px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:360px;
  top:179px;
  width:160px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:20px;
  top:15px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:590px;
  top:20px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:520px;
  top:20px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
